.container {
    padding: 20px;
    border-radius: 10px;
    background-color: #B46060;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.centered {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.controls {
    margin-top:10px ;
}

#right {
    margin-left: 0px;
}

.title {
    text-align: center;
}